<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title><%= @title %> | Weaver</title>
  <meta name="robots" content="all">
  <link rel="stylesheet" href="/base.css" media="screen">
</head>

<body>
  <%= yield %>
</body>

</html>
