																		/* -- Base HTML -- */
a {
	color: #8f4322;
	text-decoration: none;
}
	a:hover {
		color: #c04008;
	}
	a:visited {
		color: #af9083;
	}
body {
	font: 14px Palatino, Georgia, serif;
	color: #000;
	background: #fff;
	padding: 0 0;
	margin: 0 0;
}
h1 {
	text-align: center;
	font-size: 28px;
	font-weight: normal;
	line-height: 1.5;
	position: absolute;
	margin: 40px 25% 0 25%;
	width: 40%;
	text-shadow: rgba(255,255,255,0.7) 0 1px 0;
}
	h1 a, h1 a:visited {
		color: #fff;
	}
	
h2 {
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	text-shadow: rgba(255,255,255,0.7) 0 1px 0;
}
hr {
	clear: both;
	height: 1px;
	width: 80%;
	background: none;
	border: solid 1px rgba(53, 43, 35, 0.15);
	border-width: 0 0 1px 0;
	-webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
	-moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
	box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
}
section {
  padding: 0 50px;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul {
	margin-bottom: 1em;
}
li {
	margin-bottom: 5px;
	line-height: 1.5;
	position: relative;
}


																		/* -- reusables -- */
a.button, a.button:visited {
	display: block;
	font: normal 12px sans-serif;
	text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
	padding: 5px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: rgba(211, 127, 57, 0.8);
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(1, #c85f2b),
	    color-stop(0, #de9f47)
	);
	background-image: -moz-linear-gradient(
	    center top,
			#de9f47 0%,
	    #c85f2b 100%
	);
	background-image: linear-gradient(
	    center top,
			#de9f47 0%,
	    #c85f2b 100%
	);

	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
}
	a.button:hover, a.button:focus {
		background-color: rgba(211, 127, 57, 1);
		background-image: -webkit-gradient(
		    linear,
		    left top,
		    left bottom,
		    color-stop(1, #e55a10),
		    color-stop(0, #ffa429)
		);
		background-image: -moz-linear-gradient(
		    center top,
				#ffa429 0%,
		    #e55a10 100%
		);
		background-image: linear-gradient(
		    center top,
				#ffa429 0%,
		    #e55a10 100%
		);
	}


																		/* -- links into / out from article -- */
.in, .out {
	width: 25%;
}
.in {
	float: left;
}
.out {
	float: right;
}
.in ul li:nth-child(10000) {
	font-size: 28px;
}



																		/* -- main Weaver header -- */
header {
	color: #fff;
	background: #600;
	height: 50px;
	width: 100%;
	position: relative;
	z-index: 10;
	overflow: hidden;
	border-bottom: solid 1px #400;
	-webkit-box-shadow: rgba(68, 0, 0, 0.5) 0 2px 8px;
	-moz-box-shadow: rgba(68, 0, 0, 0.5) 0 2px 8px;
	box-shadow: rgba(68, 0, 0, 0.5) 0 2px 8px;
}
	header section {
		padding: 0 50px;
	}
header h1 {
	font-size: 24px;
	margin: 0;
	padding: 0;
	width: auto;
	line-height: 50px;
	text-shadow: rgba(0,0,0,0.5) 0 1px 0;
}
header ul, header li {
  display: inline-block;
	margin: 0;
	padding: 0;
}
header nav {
	float: right;
	padding-top: 15px;
	font: 12px sans-serif;
}
header li a, header li a:link {
	color: rgba(255,255,255,0.7);
	background: rgba(68,0,0,0.5);
	padding: 2px 12px;
	display: inline-block;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
}
	header li a:hover, header li a:focus {
		color: rgba(255,255,255,1);
	}


																		/* -- article finder view -- */
.finder {
	padding: 0 5%;
	height: 200px;
	overflow: auto;
	position: relative;
	z-index: 2;

	color: #352b23;
	background-color: #f3ece9;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgba(53,43,35, 0.1)),
	    color-stop(1, rgba(242,236,234, 0.6))
	), url(bg.gif);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgba(53,43,35, 0.1) 0%,
	    rgba(242,236,234, 0.1) 100%
	), url(bg.gif);
	background-image: linear-gradient(
	    center bottom,
	    rgba(53,43,35, 0.1) 0%,
	    rgba(242,236,234, 0.1) 100%
	), url(bg.gif);
}
.finder h1 a.button, .finder h1 a.button:visited {
	width: 50px;
	margin: 0 auto;
	padding: 5px 10px;
	background-image: none;
	text-transform: none;
	font-weight: normal;

	background-color: rgba(211, 127, 57, 0.8);
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(1, #c85f2b),
	    color-stop(0, #de9f47)
	);
	background-image: -moz-linear-gradient(
	    center top,
			#de9f47 0%,
	    #c85f2b 100%
	);
	background-image: linear-gradient(
	    center top,
			#de9f47 0%,
	    #c85f2b 100%
	);
}
.finder .saved {
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 18px;
	background: url(floppy.png) no-repeat 0 1px;
}
.finder h1 a.saved, .finder h1 a.saved:visited {
	background: #600;
}


																		/* -- Wikipedia article styling -- */
.article-text {
	position: relative;
	z-index: 10;
	background: #fff;
	padding: 2% 5%;
	line-height: 1.4;
	-webkit-box-shadow: rgba(0,0,0,0.2) 0 -2px 8px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0 -2px 8px;
	box-shadow: rgba(0,0,0,0.2) 0 -2px 8px;
}
.article-text a {
	color: #069;
	text-decoration: underline;
}
.article-text a:visited {
	color: #609;
}
.article-text .saved {
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 18px;
	margin-left: 9px;
	background-image: url(floppy.png);
	background-repeat: no-repeat;
	background-position: 0 1px;
}



																		/* -- admin functions -- */
.story .saved, .story .related {
  float: right;
  width: 200px;
}
