      var nodes = {};
      {% for node in nodes %}
        nodes["{{ node|slugify }}"] = network.addNode({
          name: '{{ node.name }}{% if node.display_date %} ({{ node.display_date }}){% endif %}',
          url: '{{ node.url }}',
          position: [
            {{ node.horizontal_position }},
            {{ node.position }}
        ]
        });
      {% endfor %}

      {% for edge in edges %}
        nodes["{{ edge.subject|slugify }}"].leadsTo(nodes["{{ edge.object|slugify }}"], "{% if edge.story.colour %}#{{edge.story.colour}}{% else %}#273924{% endif %}"{% if edge.verb == "secondary" %}, true{% endif %});
      {% endfor %}
