Hello!

<form method='post' action='<%= "/star/#{@article.id}" %>'>
  <button type='submit'>Star</button>
</form>

<%= @html %>

<form method='post' action='<%= "/star/#{@article.id}" %>'>
  <button type='submit'>Star</button>
</form>
