Hello!

<form method='post' action='<%= "/wiki/#{@name}/star" %>'>
  <button type='submit'>Star</button>
</form>

<%= @html %>

<form method='post' action='<%= "/wiki/#{@name}/star" %>'>
  <button type='submit'>Star</button>
</form>
