/* -*- Mode: CSS; tab-width: 4; indent-tabs-mode: nil; -*- */

@font-face {
	font-family: NuvoMediumWOFF;
	src: url(../fonts/nuvo-medium-woff-demo.woff) format("woff");
}

/*
using <b> ("stylistically offset from the normal prose without conveying
any extra importance”) for the off-left effect of text useful for screen
readers, but not to be displayed as CSS gives the context
*/

b {
    direction:              ltr;
    position:               absolute;
    left:                   -9999px;
    width:                  500px;
}


/* Defaults */
body {
	margin: 2em 10%;
	font-family: NuvoMediumWOFF, sans-serif;
	margin: 0;
	line-height: 1.6;
	font-size: .9em;
	color: #555;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background: #f1f1f1;
}

strong {
	color: #000;
}

a {
	font-weight: bold;
	color: #164B9E;
	-o-transition-property: color;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	transition-property: color;
	 -o-transition-duration: 0.2s;
	 -webkit-transition-duration: 0.2s;
	 -moz-transition-duration: 0.2s;
	 transition-duration: 0.2s;	
}

a:hover {
	color: #000;
}

blockquote {
	margin: 0 0 1em 0;
    padding: 0 0 0 2em;
    border-left: 1px solid #ccc;
   }

blockquote p {
    font-size: 1.3em;
    text-indent: -0.4em;
    margin: 0 0 0.5em 0;
}

blockquote p:before {
	content: '“';
	}
blockquote p:after {
	content: '”';
	}	
	
cite {
	font-style: normal;
	text-align: right;
	display: block;
}

fieldset { 
	border: 0;
}

h1 {
	font-size: 3em;
	margin: 0 0 1em 0;
	line-height: 1.2;
	color: #777;
}

h1 span {
	color: #ccc;
	font-size: 0.7em;
}

h2 {
	margin: 0 0 1em 0;
	font-size: 2em;
	line-height: 1.2;
}

h3 {
	margin: 0 0 0.5em 0;
	font-size:1.5em;
}

h4 {
	margin: 0;
	font-size: 1em;
	color: #666;
}

img {
	border: 0;
}

p {
	margin: 0 0 1em 0;
}

footer  {
	clear: both;
}

section {
	margin: 1em 0;
}

table {
	border-collapse:collapse;
	margin: 0 0 1em 0;
}

/* ========== */
/* ! Layout   */
/* ========== */


.timeline {
	position: absolute;
	z-index: 0;
	left:0;
	right: 0;
	top:0;
	bottom: 0;
	padding: 0 0 0 5px;
	font-size: 11px;
	color: rgba(0,0,0,0.3);	
}

.timeline li {
	border-bottom: 1px solid rgba(0,0,0,0.08);
	margin: 20px 0 200px 0;
}

.tail {
	position: fixed;
	right: 55%;
	top: 40px;
	width: 20px;
	height: 30px;
	background: url(../img/tail.png);
	z-index: 2;
}

article {
	position: relative;
	z-index: 1;
	margin: 0 0 0 45%;
	background: rgba(255,255,255,0.8);
	padding: 2em;
	overflow: auto;
}

.thread {
	line-height: 30px;
}

.auto { color: blue; }
.comp { color: green; }
.medic { color: red; }

.thread:before {
	content: "●";
	font-size: 30px;
	margin: -2px 6px 0 0;
	display: block;
	float: left;
	vertical-align: middle;
}

.secondary {
	margin: 1.5em 0;
}

.secondary ul {
	list-style-type: none;
}

.trunc {
	text-overflow: ellipsis;
}

.storynav {
	overflow: auto;
}

.storynav li {
	width:46%;
	float: left;
	margin: 0 2%;
}

/*! verbatim */
/* Viewport of 800px and above */
@media screen and (min-width: 1280px) {

	.main {
		width: 65%;
		float: left;
	}
	
	.secondary {
		width: 30%;
		float: right;
	}
	
	.storynav li {
		width: auto;
		float: none;
		margin: 0;
	}
}	
/* -- */



