/* -*- Mode: CSS; tab-width: 4; indent-tabs-mode: nil; -*- */

/*! verbatim */
@font-face {
	font-family: NuvoMediumWOFF;
	src: url(/static/fonts/nuvo-medium-woff-demo.woff) format("woff");
}
/* -- */

/*
using <b> ("stylistically offset from the normal prose without conveying
any extra importance”) for the off-left effect of text useful for screen
readers, but not to be displayed as CSS gives the context
*/

b {
    direction:              ltr;
    position:               absolute;
    left:                   -9999px;
    width:                  500px;
}

/* Defaults */

html {
	background: #f1f1f1;
}

body {
	margin: 2em 10%;
	font-family: NuvoMediumWOFF, "Lucida Grande", Calibri, Helvetica, Arial, sans-serif;
	margin: 0;
	line-height: 1.6;
	font-size: .9em;
	-webkit-font-smoothing: antialiased;
	color: #555;
	background: #f1f1f1;
}

/*! verbatim */
body {
	text-rendering: optimizeLegibility;
}	
/* -- */


strong {
	color: #000;
}

a {
	font-weight: bold;
	color: #164B9E;
}

/*! verbatim */
a {
	-o-transition-property: color;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	transition-property: color;
	 -o-transition-duration: 0.2s;
	 -webkit-transition-duration: 0.2s;
	 -moz-transition-duration: 0.2s;
	 transition-duration: 0.2s;	
}	
/* -- */


a:hover {
	color: #000;
}

blockquote {
	margin: 0 0 1em 0;
  padding: 0 0 0 2em;
  border-left: 1px solid #ccc;
 }

blockquote p {
    font-size: 1.3em;
    text-indent: -0.4em;
    margin: 0 0 0.5em 0;
}

blockquote p:before {
	content: '“';
	}
blockquote p:after {
	content: '”';
	}	
	
cite {
	font-style: normal;
	text-align: right;
	display: block;
}

fieldset { 
	border: 0;
}

h1 {
	font-size: 2.6em;
	margin: 0.5em 0 1em 0;
	line-height: 1.2;
	color: #777;
}

h1 span {
	color: #ccc;
	font-size: 0.7em;
}

h2 {
	margin: 0 0 1em 0;
	font-size: 2em;
	line-height: 1.2;
}

h3 {
	margin: 0 0 0.5em 0;
	font-size:1.5em;
}

h4 {
	margin: 0;
	font-size: 0.9em;
	color: #666;
	letter-spacing: 1px;
	text-transform: uppercase;
}

p {
	margin: 0 0 1em 0;
}

footer  {
	clear: both;
}

section {
	margin: 1em 0;
}

table {
	border-collapse:collapse;
	margin: 0 0 1em 0;
}

/* ========== */
/* ! Layout   */
/* ========== */

header {
	position: fixed;
	z-index: 10;
	left:0;
	right: 0;
	top:0;
	line-height: 1;
	padding: 13px;
}

/*! verbatim */
header {
	background: rgba(187,187,187,0.7);
}	
/* -- */


header h2 {
	font-size: 14px;
	text-transform: uppercase;
	float: left;
	margin: 0;
	color: #fff;
}

header nav {
	position: absolute;
	left: 395px;
}
	header nav ul {
		margin: 0;
		padding: 0 0 0 2em;
	}
	header nav li {
		display: inline-block;
		font-size: 12px;
		line-height: 1;
		margin: 0 5px;
	}
	header nav a, header nav a:visited {
		color: #fff;
		padding: 2px 12px 4px 12px;
		margin: 0;
		text-decoration: none;
	}
	header nav a:hover, header nav a:focus {
		background: #cccccc;
		-cp-border-radius: 24px;
	}
	header nav li.current a, header nav li.current a:visited {
		background: #a3a3a3;
		-cp-border-radius: 24px;
	}

header input {
	float: right;
	width: 14em;
	border: 1px solid #ccc;
}

.timeline {
	position: fixed;
	z-index: 0;
	left:0;
	right: 0;
	top:120px;
	bottom: 0;
	font-size: 11px;
	color: #aaa;
}

.timeline li {
	padding: 0 0 0 13px;
	border-bottom: 1px solid #e2e2e2;
	margin: 20px 0 150px 0;
}

.map {
	position: fixed;
	left: 100px;
	top: 45px;
	width: 270px;
	bottom: 0;
	background: url(/static/img/temp-sidebar-map.png) no-repeat right 50%;
}

.tail {
	position: fixed;
	left: 380px;
	top: 100px;
	top:50%;
	margin: -15px 0 0 0;
	width: 20px;
	height: 30px;
	background: url(../img/tail.png);
	z-index: 2;
}

article {
	position: relative;
	z-index: 1;
	margin: 0 0 0 400px;
	padding: 2em 2em 6em 2em;
	overflow: auto;
	background: #fff;
}

.prev-next {
	width: 88px;
	height: 44px;
	margin-top: 4em;
	position: relative;
	left: -7px;
}
	.prev-next li {
		width: 40px;
		height: 44px;
		padding: 0;
		margin: 0;
		background-color: #000;
		background-image: url(/static/img/arrow-nav.png);
		text-indent: -9999px;
		text-decoration: none;
		float: left;
	}
	.prev-next li.next {
		background-position: -48px 0;
	}
	.prev-next li a, .prev-next li a:visited {
		display: block;
		width: 40px;
		height: 44px;
	}

figure {
	display: block;
}

figure.portrait {
	display: block;
	float: right;
	margin: 0 0 2em 2em;
	width: 250px;
}

img {
	border: 0;
}

figure img {
	display: block;
}

figure.portrait img {
	max-width: 250px;
}

figure.landscape img {
	max-width: 100%;
	height: auto;
}

figcaption {
	display: block;
	font-size: 12px;
	margin: 3px 0 0 0;
	color: #000;
}

.thread {
	line-height: 30px;
}

.thread:before {
	content: "●";
	font-size: 30px;
	margin: -2px 6px 0 0;
	display: block;
	float: left;
	vertical-align: middle;
}

.main {
	overflow: auto;
}

.secondary {
	margin: 1.5em 0;
}

.secondary ul {
	list-style-type: none;
}

.storynav {
	overflow: auto;
	border-bottom: 1px solid #ccc;
}

.storynav li {
	width:46%;
	float: left;
	margin: 0 2% 0 0;
}

.storynav li+li {
	margin: 0 0 0 2%;
}

/*! verbatim */
/* Viewport of 800px and above */
@media screen and (max-width: 1024px) {

	figure {
		float: none;
		width: auto;
		margin: 0 0 1.5em 0;
	}

	figure img {
		margin: 0 auto;
	}


}	
/* -- */



