.node-preview {
  display:         table-cell;
  vertical-align:  middle;
  cursor:          pointer;
  text-decoration: none;
}
.node-preview h4 {
  background:     #444;
  color:          #fff;
  display:        inline-block;
	font: 					normal 12px NuvoMediumWOFF, "Lucida Grande", Calibri, Helvetica, Arial, sans-serif;
	text-transform: none;
	letter-spacing: 0;
  margin:         0 -40px;
  opacity:        0;
  padding:        6px;
  position:       relative;
  text-align:     center;

  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;

  -webkit-transition: opacity 0.2s linear,
                      top     0.2s ease-out;

     -moz-transition: opacity 0.2s linear,
                      top     0.2s ease-out;

       -o-transition: opacity 0.2s linear,
                      top     0.2s ease-out;

      -ms-transition: opacity 0.2s linear,
                      top     0.2s ease-out;
}
.node-preview a {
  color:            #fff;
  text-decoration:  none;
}
.selected .node-preview h4 {
  opacity:        1;
  top:            -36px;
}
