{% load markup %}
{% if story %}
	<div class="storynav">
		<ol>
			{% if story.previous %}
			<li class="prev"><a rel="prev" href="{{ story.previous.url }}?story={{ story.slug }}">Previous: {{ story.previous.name }}</a></li>
			{% else %}
			<li class="prev-disabled"></li>
			{% endif %}
			
			{% if story.next %}
			<li class="next"><a rel="next" href="{{ story.next.url }}?story={{ story.slug }}">Next: {{ story.next.name }}</a></li>
			{% else %}
			<li class="next-disabled"></li>
			{% endif %}
		</ol>
		{% if story %}<span class="story-line">in <span class="story-name">{{story}}</span></span>{% endif %}
	</div>
{% endif %}
		
	<h1>
		<span class="name">{{subject.name}}</span>
		{% if subject.display_date %}
		<span class="meta">(
			{% if subject.display_date %}<span class="date">{{subject.display_date}}</span>{% endif %}
		)</span>
		{% endif %}
	</h1>

	
	<div class="body">
	
	<div class="main">
	<figure class="portrait">
		<img src="/static/img/placeholder.png" alt="" class="fr" width="249" height="333">
		<figcaption>Close up view of comber board, harness, malls, weights, (Lingoes) and warp with 1040 ends</figcaption>
	</figure>

  {{ subject.text|textile }}

{% if user.is_staff %}
<div class="admin">
	<a href="/admin/core/{{ subject.object_name }}/{{ subject.pk }}/">Edit Node</a>
</div>
{% endif %}

{% if story.story_content or user.is_staff %}
  <h2>{{ story.name }}</h2>
  {{story.story_content.text|textile}}
{% endif %}

{% if user.is_staff and story %}
<div class="admin">
  {% if story.story_content %}
    <a href="/admin/core/storycontent/{{ story.story_content.pk }}/">Edit Story Content</a>
  {% else %}
    <a href="/admin/core/storycontent/add/?story={{ story.pk }}&amp;subject={{ subject.select_tuple.0}}">Add Story Content</a>
  {% endif %}
</div>
{% endif %}

{% for other_story in subject.stories %}
  {% if other_story != story %}
    {# only show a story if there is actual content, or we are admin #}
    {% if other_story.story_content or user.is_staff %}
        <h3>{{other_story.name}}</h3>
      {% if other_story.story_content %}
        {{other_story.story_content.text|textile}}
        {% if user.is_staff %}
          <div class="admin">
            <a href="/admin/core/storycontent/{{ other_story.story_content.pk }}/">Edit Story Content</a>
          </div>
        {% endif %}
      {% else %}
        {% if user.is_staff %}
          <div class="admin">
            <a href="/admin/core/storycontent/add/?story={{ other_story.pk }}&amp;subject={{ subject.select_tuple.0}}">Add Story 
          Content</a>
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if subject.reference_url %}
<p>Read more about <a href="{{subject.reference_url}}">{{subject.name}} on Wikipedia</a></p>
{% endif %}

	</div>
	
	{% if subject.stories %}
  <div class="secondary storynav-lg">
    {% if story %}
    <ol>
    {% include "nodes/_full_story_nav.html" %}
    </ol>
    {% endif %}
    {% for other_story in subject.stories %}
      {% if story != other_story %}
				<div class="tertiary story-{{ other_story.slug }}">
        {% with other_story as story %}
			    <ol>
          {% include "nodes/_full_story_nav.html" %}
			    </ol>
        {% endwith %}
       	</div>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
