{% extends 'base.html' %}

{% block page_title %}Overview{% endblock %}
{% block body-class %}home overview{% endblock %}

{% block content %}

<div class="home">

<!--
	<h2>People</h2>
	<ol>
	{% for node in people %}
	{% include "nodes/_node_in_list.html" %}
	{% endfor %}
	</ol>
	
	<h2>Objects</h2>
	<ol>
	{% for node in objects %}
	{% include "nodes/_node_in_list.html" %}
	{% endfor %}
	</ol>
	
	<h2>Events</h2>
	<ol>
	{% for node in events %}
	{% include "nodes/_node_in_list.html" %}
	{% endfor %}
	</ol>
-->

	<h2>Suggested Stories</h2>
	<ul>
	
		<li>
			<h3><a href="/object/jacquard-loom/">Jacquard Loom</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit.</p>
		</li>

		<li>
			<h3><a href="/person/charles-babbage/">Charles Babbage</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit.</p>
		</li>

		<li>
			<h3><a href="/object/difference-engine/">Difference Engine</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit.</p>
		</li>

		<li>
			<h3><a href="/person/ada-lovelace/">Ada Lovelace</a></h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit.</p>
		</li>

	</dl>



	<h2>Story Map View</h2>
</div>

	<div class="map">
		<img src="/static/img/temp-homepage.png" style="width: 100%">
	</div>

{% endblock %}

