
<h4>Footnotes</h4>
<ul>
{% for verb, links in incoming.items %}
{% if verb != "primary" and verb != "secondary" and verb != "described_by" %}
    {% for link in links %}
        <li><a href="{{link.link_url}}">{{link.name}}</a> {{ verb }} {{ subject.name_possibly_lowercased }}.</li>
    {% endfor %}
{% endif %}
{% endfor %}

{% for verb, links in outgoing.items %}
{% if verb != "primary" and verb != "secondary" and verb != "described_by" %}
    {% for link in links %}
        <li>{{ subject.name }} {{ verb }} <a href="{{link.link_url}}">{{link.name_possibly_lowercased}}</a>.</li>
    {% endfor %}
{% endif %}
{% endfor %}
</ul>
