{% extends "base.html" %}{% load markup %}

{% block pagetitle %}{{ subject.name }}{% if story %} in {{ story.slug }}{% endif %}{% endblock %}
{% block body-class %}view-node story-{{ story.slug }}{% endblock %}

{% block head-js %}
  <script src="/static/js/network.js"></script>
{% endblock %}

{% block view_toggle %}
  <nav>
    <ul>
      <li class="current"><em>Story</em></li>
      <li><a href="/map/?current_node={{subject.select_tuple.0}}{% if story %}&amp;story={{story.slug}}{% endif %}">Map</a></li>
    </ul>
  </nav>
{% endblock %}

{% block content %}

	<noscript>
	<ol class="timeline">
	{% for year,group in map.century_grouped_nodes.items %}
		{% if group.nodes %}
			<li>{{ group.label|default:year }}
				<ul>
				{% for node in group.nodes %}
				  <li class='story'> <a href='{{node.url}}'>{{node.name}}</a>
				  </li>
				{% endfor %}
				</ul>
			</li>
		{% endif %}
	{% endfor %}
	</ol>
	</noscript>



	<script>
	document.write('<div class="map"><div id="container"></div><div class="tail"></div></div>');
	var network = new Network('container', 400, 1000);
	network.pathWidth = 12;
	network.nodeRadius = 11;
	network.nodeStroke = 6;
	network.nodeLabelClass = 'map-node';
	network.scaleFactor = 2;
	network.vertical = true;
	var nodes = {};

  {% for node in map.nodes %}
    nodes["{{ node|slugify }}"] = network.addNode({
      name: '{{ node.name }}',
      url: '{{ node.url }}?story={{ node.story.slug }}',
      position: [
        {{ node.horizontal_position }},
        {{ node.position }}
      ]
    });
  {% endfor %}

  {% for edge in map.edges %}
    nodes["{{ edge.subject|slugify }}"].leadsTo(nodes["{{ edge.object|slugify }}"], "{% if edge.story.colour %}#{{edge.story.colour}}{% else %}#273924{% endif %}"{% if edge.verb == "secondary" %}, true{% endif %});
  {% endfor %}


  {% for mark in map.marks %}
	  network.addCentruryMark("{{mark.label}}", {{mark.position}}, {{mark.position}});
  {% endfor %}

  network.draw();

  network.snapNode( nodes['{{ subject|slugify }}'], 200, $(".tail").offset().top - 30);

  $(window).resize(function() {
  	network.snapNode( nodes['{{ subject|slugify }}'], 200, $(".tail").offset().top - 30);
  })
	</script>


  <div class='textual'>
    {% include "nodes/_node_content.html" %}
  </div>


{% include "nodes/links.html" %}
{% endblock %}
