{% extends "base.html" %}{% load markup %}

{% block pagetitle %}{{ subject.name }}{% if story %} in {{ story.slug }}{% endif %}{% endblock %}
{% block body-class %}view-node story-{{ story.slug }}{% endblock %}

{% block head-js %}
  <script src="/static/js/network.js"></script>
{% endblock %}

{% block view_toggle %}
  <nav>
    <ul>
      <li class="current"><em>Story</em></li>
      <li id='map-link'><a href="/map/?current_node={{subject.select_tuple.0}}{% if story %}&amp;story={{story.slug}}{% endif %}">Map</a></li>
    </ul>
  </nav>
{% endblock %}

{% block timeline %}
	<noscript class="timeline">
	<ol>
	{% for year,group in map.century_grouped_nodes.items %}
		{% if group.nodes %}
			<li>{{ group.label|default:year }}
				<ul>
				{% for node in group.nodes %}
				  <li class='story'> <a href='{{node.url}}'><span class="fakenode"></span>{{node.name}} </a>
				  </li>
				{% endfor %}
				</ul>
			</li>
		{% endif %}
	{% endfor %}
	</ol>
	</noscript>
{% endblock %}

{% block content %}

	<script>
	document.write('<div class="map"><div id="container"></div><div class="tail"></div></div>');
	var network = new Network('container', 400, 1000);
	network.pathWidth = 12;
	network.nodeRadius = 11;
	network.nodeStroke = 6;
	network.nodeLabelClass = 'map-node';
	network.scaleFactor = 3;
	network.vertical = true;
	var nodes = {},
			forks = {};

  {% for node in map.nodes %}
    nodes["{{ node|slugify }}"] = network.addNode({
      name: '{{ node.name }}',
      url: '{{ node.url }}?story={{ node.story.slug }}',
      position: [
        {{ node.horizontal_position }},
        {{ node.position }}
      ],
      alwaysShowLabel: {% if node.story == story %}true{% else %}false{% endif %}
    });

    {% if node.forks %}
	    // Fork
    	forks["{{ node|slugify }}"] = [];
	    {% for other_node in node.forks.nodes %}
	    nodes["{{ other_node|slugify }}"] = network.addNode({
	      name: '{{ other_node.name }}',
	      url: '{{ other_node.url }}?story={{ other_node.story.slug }}',
	      position: [
	        {{ other_node.horizontal_position }},
	        {{ other_node.position }}
	      ]
	    })
	  	forks["{{ node|slugify }}"].push(nodes["{{ other_node|slugify }}"]);
	    {% endfor %}
	    {% for other_edge in node.forks.edges %}
	    	{% if not other_edge.incoming %}
			    forks["{{ node|slugify }}"].push( nodes["{{ other_edge.subject|slugify }}"].leadsTo(nodes["{{ other_edge.object|slugify }}"], "{% if other_edge.story.colour %}#{{other_edge.story.colour}}{% else %}#273924{% endif %}"{% if other_edge.verb == "secondary" %}, true{% else %}, false{% endif %}));
				{% else %}
			    forks["{{ node|slugify }}"].push( nodes["{{ other_edge.object|slugify }}"].leadsTo(nodes["{{ other_edge.subject|slugify }}"], "{% if other_edge.story.colour %}#{{other_edge.story.colour}}{% else %}#273924{% endif %}"{% if other_edge.verb == "secondary" %}, true{% else %}, false{% endif %}));
			   {% endif %}
	    {% endfor %}

	    {% if node != subject %}
	    for (var i in forks["{{ node|slugify }}"]) forks["{{ node|slugify }}"][i].hide();
	    {% endif %}
	   {% endif %}

  {% endfor %}

  {% for edge in map.edges %}
    nodes["{{ edge.subject|slugify }}"].leadsTo(nodes["{{ edge.object|slugify }}"], "{% if edge.story.colour %}#{{edge.story.colour}}{% else %}#273924{% endif %}"{% if edge.verb == "secondary" %}, true{% else %}, false{% endif %});
  {% endfor %}


  {% for mark in map.marks %}
	  network.addCentruryMark("{{mark.label}}", {{mark.position}}, {{mark.position}});
  {% endfor %}

  network.draw();

  var markerPosition = function() { return [200, $(".tail").offset().top - 30] };

  network.snapToNode( nodes['{{ subject|slugify }}'], markerPosition());

  $(window).resize(function() {
  	network.snapToNode( nodes['{{ subject|slugify }}'], markerPosition());
  })

  $(document).bind('node:transition', function(event, data) {
    network.scrollToNode(nodes[data.slug], markerPosition());
  });
	</script>


  <div class='textual'>
    {% include "nodes/_node_content.html" %}
  </div>


{% endblock %}

