<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset='utf-8'>
  <title>{% block page_title %}{% endblock %}</title>

  {% block full-head-css %}
    <link rel="stylesheet" media="screen" href="/static/css/screen.css">
  {% block head-css %}{% endblock %}
  {% endblock %}

  {% comment %}
  <link rel='shortcut icon' href='{% static "img/favicon.png" %}'>
  <link rel="apple-touch-icon" href="{% static 'img/touch.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/touch-ipad.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/touch-retina.png' %}">
  {% endcomment %}
  
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% block full-head-js %}
  <script src="/static/js/jquery-1.6.2.min.js"></script>
  <script src="/static/js/raphael-min.js"></script>
  <script src="/static/js/common.js"></script>
  {% block head-js %}{% endblock %}
  {% endblock %}
  {% block head-meta %}
  {% endblock %}
</head>
<body class='{% block body-class %}{% endblock %}'>

  {% block masthead %}
  <header id="masthead">
		<div class="site-name">
			<a href="#">The Mothers of Invention</a>
		</div>
		<nav>
			<ul>
				<li class="current"><a href="#">Story</a></li>
				<li><a href="#">Map</a></li>
			</ul>
		</nav>
		<input type="search" placeholder="Search" />
  </header>
  {% endblock %}
  
	<article>
  {% block content %}{% endblock %}
	<footer>
		<p>&copy; A <a href="">dev/fort</a> production. Released under a <a href="">Creative Commons Licence</a></p>
	</footer>

	</article>

</body>
</html>
