<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset='utf-8'>
  <title>{% block pagetitle %}{% endblock %}</title>

  {% block full-head-css %}
    <link rel="stylesheet" media="screen" href="/static/css/screen.css">
  {% block head-css %}{% endblock %}
  {% endblock %}

  {% comment %}
  <link rel='shortcut icon' href='{% static "img/favicon.png" %}'>
  <link rel="apple-touch-icon" href="{% static 'img/touch.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/touch-ipad.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/touch-retina.png' %}">
  {% endcomment %}
  
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  {% block full-head-js %}
  <script src="/static/js/jquery-1.6.2.min.js"></script>
  <script src="/static/js/raphael-min.js"></script>
  <script src="/static/js/common.js"></script>
  {% block head-js %}{% endblock %}
  {% endblock %}
  {% block head-meta %}
  {% endblock %}
</head>
<body class='{% block body-class %}{% endblock %} noscript'>
<script>
	(function(){
	var body = document.getElementsByTagName('BODY')[0];
	body.className = body.className.replace(' noscript', '');
	}());
</script>

  {% block masthead %}
  <header id="masthead">
    <div class="site-name">
      <a href="/">The Mothers of Invention</a>
    </div>
    {% block view_toggle %}
    {% endblock %}

    <form action="{% url search %}" method="GET">
      <input type="search" name="q" placeholder="Search" value="{{ query_string }}"{% if query_string %}autofocus{% endif %}>
    </form>
  </header>
  {% endblock %}
 
     {% block timeline %}{% endblock %}
     
  <article>
    {% block content %}{% endblock %}
    <footer>
      <p id='licence'
         about='' typeof='cc:Work' xmlns:cc='http://creativecommons.org/ns#'
         xmlns:dct='http://purl.org/dc/terms/'>
        &copy; A <a href="http://devfort.com/">/dev/fort</a> production. The 
        <span rel='dct:type' href='http://purl.org/dc/dcmitype/Text'>text</span>
        published on <span property='dct:title'>mothersofinvention.com</span>
        is licenced under a 
        <a href='http://creativecommons.org/licenses/by-sa/3.0/' 
           rel='license'>Creative Commons Attribution-ShareAlike 
             3.0 Unported License</a>.
      </p>
    </footer>
  </article>

</body>
</html>
