{% extends 'base.html' %}

{% block pagetitle %}Welcome to History Mesh{% endblock %}
{% block body-class %}home{% endblock %}

{% block content %}

<div class="home">

  <div class="about">
    <h1>Welcome to History Mesh</h1>
    <p>Explore a woven world of technological whimsy. Start with our suggested stories, or choose a <a href="{% url random-node %}">random node</a> to dive in.</p>
    <a href="/about" class="more">Learn More</a>
  </div>

  {% if stories %}
  <div class="stories">
    <h2>The Stories</h2>
    <ul id="stories">
      {% for story in stories %}
      <li class="story-{{story.slug}}">
	<h3 class="story-name"><a href="{{story.start.url}}?story={{story.slug}}">{{story.name}}</a></h3>
	{% if story.text %}
        {{story.text|linebreaks}}
	{% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <h2>Timeline Map View</h2>
  <div class="map">
    <div id="container"></div>
  </div>

  <script type="text/javascript">
    var network = new Network('container', document.width, 400);
    {% include "map/_node_js.html" %}
    network.draw();

    $(document).bind('node:navigate', function(e, data) {
      window.location.href = data.url;
    });
  </script>
</div>

{% endblock %}

