{% extends 'base.html' %}

{% block pagetitle %}An awesome thing that we made{% endblock %}
{% block body-class %}home{% endblock %}

{% block content %}

<div class="home">

	<div class="about">
	  <h1>Wibbly Wobbly Timey Wimey</h1>
	  <p>Explore a woven world of technological whimsy. Start with our suggested stories, or choose a <a href="#">random node</a> to dive in.</p>
	  <a href="#" class="more">Learn More &rsaquo;</a>
	</div>

  {% if stories %}
	<div class="stories">
	  <h2>The Stories</h2>
	  <ul id="stories">
	    {% for story in stories %}
	    <li class="story-{{story.slug}}">
	      <h3 class="story-name"><a href="{{story.start.url}}?story={{story.slug}}">{{story.name}}</a></h3>
	      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sit amet elit vitae arcu interdum ullamcorper. Nullam ultrices, nisi quis scelerisque convallis, augue neque tempor enim, et mattis justo nibh eu elit.</p>
	      {{story.text|linebreaks}}
	    </li>
	    {% endfor %}
	  </ul>
	</div>
  {% endif %}

  <h2>Timeline Map View</h2>
  <div class="map">
    <img src="/static/img/temp-homepage.png" style="width: 100%">
  </div>
</div>

{% endblock %}

