{% extends "base.html" %}

{% block body-class %}homepage{% endblock %}

{% block head-js %}
  <script src="/static/js/network.js"></script>
  <style type="text/css">
      body { background: #ccc; }
      section { background: #fff; width: 1200px; height: 400px; }
    </style>
{% endblock %}

{% block content %}

<section>
  <div id="container"></div>
</section>

<script type="text/javascript">

  var network = new Network('container', 800, 300);
/*
  var nodes = {};
  {% for node in nodes %}
    nodes["{{ node|slugify }}"] = network.addNode({
      name: '{{ node.name }}{% if node.display_date %} ({{ node.display_date }}){% endif %}',
      url: '{{ node.url }}',
      position: [
        {{ node.horizontal_position }},
        {{ node.position }}
    ]
    });
  {% endfor %}

  {% for edge in edges %}
    nodes["{{ edge.subject|slugify }}"].leadsTo(nodes["{{ edge.object|slugify }}"], "{% if edge.story.colour %}#{{edge.story.colour}}{% else %}#273924{% endif %}"{% if edge.verb == "secondary" %}, true{% endif %});
  {% endfor %}
*/

  var a = network.addNode({
    name: 'A',
    position: [100,100]
  });
  var b = network.addNode({
    name: 'B',
    position: [200,100]
  });
  //var c = network.addNode({
  //  name: 'C',
  //  position: [200,150]
  //});
  a.leadsTo(b, '#000');
  //a.leadsTo(c, '#000');

  network.draw();

</script>

<img src="image/" />

<h2>Strings</h2>
<ul>
    {% for start, string in strings.items %}
        <li>{{ start }}: {{ string }}</li>
    {% endfor %}
</ul>

<h2>Positions</h2>
<ul>
    {% for node in nodes %}
        <li>{{ node }}: {{ node.horizontal_position }}, {{ node.position }}</li>
    {% endfor %}
</ul>

{% endblock content %}

