{% extends 'base.html' %}{% load markup %}

{% block pagetitle %}Map{% endblock %}
{% block body-class %}view-map{% endblock %}

{% block view_toggle %}
  <nav>
    <ul>
      {% if next %}
      <li><a href="{{next}}{% if story %}?story={{story}}{% endif %}">Story</a></li>
      {% endif %}
      <li class="current"><em>Map</em></li>
    </ul>
  </nav>
{% endblock %}

{% block head-js %}
    <script src="/static/js/network.js"></script>
{% endblock %}

{% block content %}

    <div class="map">
      <div id="container"></div>
    </div>

    <script type="text/javascript">
      var network = new Network('container', document.width, 400);
      {% include "map/_node_js.html" %}
      network.draw();
    </script>

{% endblock %}
